{{- with .Params.review -}}
<dl class="review">
  <div class="r"><dt>Style</dt><dd>{{ .style }}</dd></div>
  <div class="r"><dt>Base</dt><dd>{{ .base }}</dd></div>
  <div class="r"><dt>Crown</dt><dd>{{ .crown }}</dd></div>
  <div class="r"><dt>Cheese</dt><dd>{{ .cheese }}</dd></div>
  <div class="r"><dt>Tomatoes</dt><dd>{{ .tomatoes }}</dd></div>
  <div class="r"><dt>Olive oil</dt><dd>{{ .oliveOil }}</dd></div>
  <div class="r"><dt>Leoparding &amp; char flavour</dt><dd>{{ .leoparding }}</dd></div>
  <div class="r"><dt>Alveolation</dt><dd>{{ .alveolation }}</dd></div>
  <div class="r"><dt>Beauty</dt><dd>{{ .beauty }}</dd></div>
</dl>
{{- end -}}
